.logo
{
	width: 170px;
	
}

.center
{
	width: 100%;
}

.htmlimg
{
	width:100PX;
		

}

.cssimg
{
	width: 100px;
		

}

.jqueryimg
{
	
   width: 100px;
	height: 100px;

}
.hr
{
	width:100%;
}
.small-img-cont,.top_row
{
	margin-top: 30px;
	
}